# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# List Binary files to prevent EOL
# --------------------------------
# Images
*.png binary
*.jpg binary
*.jpeg binary
*.svg binary

# Audio
*.wav binary
*.mp3 binary

# 3D Files
*.fbx binary
*.dae binary
*.gltf binary
*.glb binary

# Godot Specific
*.res binary
*.scn binary

# Materials
*.material binary